<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<appSettings>
    <lastSelectedPathIndex>2</lastSelectedPathIndex>
    <lastUsagePaths>
        <path>C:\Users\dawid.adachowski\Documents\new_projects\PDF_Search_Engine\src\main\resources\test_files</path>
        <path>C:\Users\dawid.adachowski\OneDrive - SPS Global\Documents\OAnohpPOSe</path>
        <path>C:\Users\dawid.adachowski\OneDrive - SPS Global\Documents</path>
    </lastUsagePaths>
    <pdfViewQuality>4</pdfViewQuality>
</appSettings>
